# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.ini
.idea/
*.json
# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
*.swp
.vscode/
.ipynb_checkpoints/
*.gz
conf/
*.error
config.json
ubuntu-fs

